body {
  background-color: #F9F6EE;
}
h1 {
  text-align: center;
  
}

nav {
  border: 1px solid black;
}

ul {
  display: flex;
  margin: 0;
}

li {
  padding-right: 50px;
}

.member {
  width: 200px;
  height: 200px;
  padding: 20px;
}

#navbarShared {
  background-color: #2C882B;
}

#contactShared, #signupShared {
  background-color: #6CB443;
}

#applicationShared {
  background-color: #6CB443;
  padding: 20px;
}


#promo {
  font-style: italic;
}

label {
font-weight: 600;
}

#dashleftcolumn, #dashrightcolumn {
margin:0 auto;
overflow-x: auto;

}


#dashtable td{
font-family: 'BigNoodleTitling', sans-serif;
font-weight: 300;
font-size: 100%;
height:100%;
}

#dashtable thead th, #remindertable thead th {
font-family: 'BigNoodleTitling', sans-serif;
font-weight: 600;
font-size: 130%;
height:100%;
border-top:2px solid black;
}

.date {
font-family: 'BigNoodleTitling', sans-serif;
font-weight: 300;
font-size: 100%;
}

#dashtable button {
width:100%;
}

#Dashcontainer h3 {
font-family: 'BigNoodleTitling', sans-serif;
letter-spacing:1.6px;
font-weight: 600;
font-size: 200%;
padding:20px;
background-color:
}

#dashrightcolumn h3, #dashleftcolumn h3 {
background-color: #333333;
color: white;

}

#remindertable th, #remindertable tr {
height:100%;
font-family: 'BigNoodleTitling', sans-serif;
font-size: 100%;
border-top:2px solid black;
}

#dashleftcolumn, #dashrightcolumn {
border: 5px solid black;
}

#dashtable tbody tr, #remindertable tbody tr {
border-bottom: 2px solid black;
border-top: 2px solid black;
}

#LeftLoadMore, #RightLoadMore {
font-family: 'BigNoodleTitling', sans-serif;
letter-spacing:1.6px;
font-weight: 600;
color: #6CB443;
text-align: center;
margin:0px;

}



#remindertable thead tr {
text-align: center;

}

.ApplicationButtonUP{
width:100%;
height:100%;
padding:4px;
background-color: #6CB443;
background: linear-gradient(180deg, rgba(90,170,62,72,1), rgba(108,180,68,1) 100%);

}

.ApplicationButtonDE {
width:100%;
height:100%;
padding:4px;
background-color: #D14900;
background: linear-gradient(180deg, rgb(190, 70, 0) 10.6%, rgb(209, 73, 0) 100%);

}
.dashButtonLinks {
height:100%;
padding:7px;
background-color: #2C882B;
background: linear-gradient(180deg, rgba(20,167,62,1) 0%, rgba(44,136,43,1) 100%);

}

.dashButtonLinks, .ApplicationButtonUP, .ApplicationButtonDE {
  align-items: center;
  font-family: IMPACT;
  letter-spacing:1.4px;
  font-weight: 500;
  font-decoration: none;
  color: white;
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.dashButtonLinks:hover, .ApplicationButtonUP, .ApplicationButtonDE {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}


#footertextdash {
font-family: arial ;
font-size: 100%;
padding-top:1em;
font-weight: 600;

}

#footerbar {
background-color: #2C882B;
margin-top:auto;
}

#footerbar h3 {
font-family: arial;


}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
color:white;
background-color: #0077B5;
}

.fa-slack {
color: white;
background-color: #4A154B;
}

.fa-git {
color:white;
background-color: #bd2c00;
}

.fa-external-link-square {
color:white;
background-color: #6CB443;
}

#footercourseinfo img {
width: 60%;

}

#courseinfo {
font-family: arial;
font-weight: 500;
border-left: 2px solid black;
}

#footerbar .row {
justify-content: center;
align-items: top;

}

section .error {
color:#D14900;
font-weight:600;
font-family:arial;
}

#form label {
font-family: 'BigNoodleTitling', sans-serif;
}

#signupCoverText {
font-family: 'BigNoodleTitling', sans-serif;;
font-weight:600;
}

#form #submitbutton {
   align-items: center;
  font-family: IMPACT;
  letter-spacing:1.4px;
  font-weight: 500;
  font-decoration: none;
  color: white;
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
  height:100%;
  padding:7px;
  background-color: #2C882B;
  background: linear-gradient(180deg, rgba(20,167,62,1) 0%, rgba(44,136,43,1) 100%);

}

